@import url('https://raw.githack.com/ShadyGamer9292/nocturnal-edit/master/badges.css');

.avatar-1BDn8e + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  font-family: "Whitney","Helvetica Neue","Helvetica","Arial","sans-serif";
  display: inline-block;
  border-radius: 4px;
  padding: 2px 5px;
  background-image: none!important;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.avatar-1BDn8e + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  font-family: "Whitney","Helvetica Neue","Helvetica","Arial","sans-serif";
  display: inline-block;
  border-radius: 4px;
  padding: 2px 5px;
  background-image: none!important;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-left: 5px;
  animation-timing-function: linear;
  animation: fadeIn .5s linear 1;
  transition: 
    color .2s ease,
    background-color .2s ease;
}

@keyframes rainbow {
  from{filter: hue-rotate(0deg)}
  to{filter: hue-rotate(360deg);}
}
@keyframes scaleIn {
  from{transform: scale(.1);}
  to{transform: scale(1);}
}
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}


/*FourInchKnife*/
.avatar-1BDn8e[src*="600130839870963725"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "</>";
  background-color: #0d0d0d;
  color: #4ce949;
}
.avatar-1BDn8e[src*="600130839870963725"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "<1337 hax>";
  background-color: #0d0d0d;
  color: #4ce949;
}

/*GSG_Shady*/
.avatar-1BDn8e[src*="242743468856836098"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "🍆";
  background-color: transparent;
  color: #000000;
}
.avatar-1BDn8e[src*="242743468856836098"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "Daddy";
  background-color: #f81894;
  color: #ffffff;
}

/*Po Taato Baked*/
.avatar-1BDn8e[src*="640012941894221844"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "e";
  background-color: #002800;
  color: #ffffff;
}
.avatar-1BDn8e[src*="640012941894221844"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "prefers > 3 dimensions";
  background-color: #002800;
  color: #ffffff;
}

/*odiepotes*/
.avatar-1BDn8e[src*="601423394902114343"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "🎮";
  background-color: transparent;
  color: #000000;
}
.avatar-1BDn8e[src*="601423394902114343"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "epic gamer";
  background-color: #ff0000;
  color: #ffffff;
}

/*nMarkov*/
.avatar-1BDn8e[src*="569277281046888488"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "❌🧠";
  background-color: transparent;
  color: #000000;
}
.avatar-1BDn8e[src*="569277281046888488"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "\"I just had a huge fart\"";
  background-color: #000000;
  color: #ffffff;
}

/*quinn the otter*/
.avatar-1BDn8e[src*="242102947096297482"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "🏳️‍🌈";
  background-color: #ffffff;
  color: #ff0000;
}
.avatar-1BDn8e[src*="242102947096297482"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "gay";
  background-color: #ffffff;
  color: #ff0004;
  animation: rainbow 3s linear 1;
}

/*Vandosaurus*/
.avatar-1BDn8e[src*="406214398986682368"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "🍑";
  background-color: transparent;
  color: #000000;
}
.avatar-1BDn8e[src*="406214398986682368"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "doesn't have an ass";
  background-color: #ec5656;
  color: #ffffff;
}

/*Rayne*/
.avatar-1BDn8e[src*="396754292398096394"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "(._.)";
  background-color: #ff8877;
  color: #000000;
}
.avatar-1BDn8e[src*="396754292398096394"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "probably rather tired";
  background-color: #ff8877;
  color: #000000;
}
