.avatar-1BDn8e + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('');
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.avatar-1BDn8e + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  width: auto;
  border-radius: 4px;
  padding: 2px 5px;
  background-image: none!important;
  background-color: #0d0d0d;
  color: #fff;
  font-size: 12px;
  top: -1px;
  font-weight: normal;
  animation-timing-function: linear;
  transition: 
    color .2s ease,
    background-color .2s ease;
}

@keyframes rainbow {
  from{filter: hue-rotate(0deg)}
  to{filter: hue-rotate(360deg);}
}
@keyframes scaleIn {
  from{transform: scale(.1);}
  to{transform: scale(1);}
}
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}


  /*==| MODS |==*/
/*FourInchKnife*/
.avatar-1BDn8e[src*="600130839870963725"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "";
  background-image: url('https://codedotspectra.github.io/themes/badges/sword.svg');}
.avatar-1BDn8e[src*="600130839870963725"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "Absolute Gamer";
  animation: fadeIn .5s linear 1;
  color: #ff8080;
  width: 75px;
  text-align: center;
  background-color: transparent;
  background-image: url('https://i.imgur.com/bzmEwnm.png') !important;
}

  /*==|CUSTOM BADGES|==*/
/* Spectra */
.avatar-1BDn8e[src*="286208664623120384"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  background-image: url('https://i.imgur.com/M486zn0.png');}
.avatar-1BDn8e[src*="286208664623120384"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "Made you look";
  background-color: #000;
  color: red;
  animation: scaleIn .2s linear 1, rainbow 2s linear infinite;
}

  /*==|STREAMERS|==*//*
.avatar-1BDn8e[src*="156048565058142208"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "";
  background-image: url('https://codedotspectra.github.io/themes/badges/twitch.svg');
}
.avatar-1BDn8e[src*="156048565058142208"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "twitch.tv/rubensaurus";
  animation: scaleIn .2s linear 1;
  background-color: #6441a5;
  color: #fff;
}
*/
