.avatar-1BDn8e + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 5px;
  background-image: none!important;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.avatar-1BDn8e + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 5px;
  background-image: none!important;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-left: 5px;
  animation-timing-function: linear;
  animation: fadeIn .5s linear 1;
  transition: 
    color .2s ease,
    background-color .2s ease;
}

@keyframes rainbow {
  from{filter: hue-rotate(0deg)}
  to{filter: hue-rotate(360deg);}
}
@keyframes scaleIn {
  from{transform: scale(.1);}
  to{transform: scale(1);}
}
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}


/*FourInchKnife*/
.avatar-1BDn8e[src*="600130839870963725"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "</>";
  background-color: #0d0d0d;
  color: #4ce949;
}
.avatar-1BDn8e[src*="600130839870963725"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "Absolute Gamer";
  background-color: #0d0d0d;
  color: #4ce949;
}
